* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --greenColor: #309201;
  --blueColor: #54C29B;
  --textColorBlack: #000;
  --textColorWhite: #fff;
  --footerColor: #c9c9ca;
  --peopleColor: #8178B7;

  --headerHeight: 125px;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  scroll-behavior: smooth;
}

.body.overflow {
  overflow: hidden;
}

.burger-button {
  display: none; /* flex - видно, none - не видно */
  width: 40px;
  height: 30px;
  align-items: center;
  position: relative;
}

.burger-button span {
  height: 3px;
  width: 100%;
  display: block;
  transform: scale(1);
  background-color: var(--textColorBlack);
  transition: all .5s;
}

.burger-button::after, .burger-button::before {
  height: 3px;
  width: 100%;
  content: '';
  position: absolute;
  display: block;
  background-color: var(--textColorBlack);
  transition: all .5s;
}

.burger-button::after {
  bottom: 0;
}

.burger-button::before {
  top: 0;
}

.burger-menu.menu-open {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 900;
  background-color: var(--textColorWhite);
  border: 5px solid var(--textColorBlack);
  transition: all .5s;
  animation: openBurgerMenu .7s 1;
}

.burger-menu.menu-closed {
  display: none;
}

.burger-menu__closed-button {
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  position: relative;
  z-index: 900;
  margin: 15px 0 25px 15px;
}

.burger-menu__closed-button::after, .burger-menu__closed-button::before {
  height: 5px;
  width: 100%;
  content: '';
  position: absolute;
  display: block;
  background-color: white; 
}

.burger-menu__closed-button::after {
  transform: rotate(45deg);
  background-color: var(--textColorBlack);
}

.burger-menu__closed-button::before {
  transform: rotate(-45deg);
  background-color: var(--textColorBlack);
}

.burger-menu__nav {
  height: 90%;
  display: flex;
  justify-content: center;
}

.burger-menu__nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-size: clamp(40px, 3vw, 80px);
}

.burger-menu__nav-item {
  text-decoration: none;
  color: var(--textColorBlack);
  transition: all .3s;
}

.burger-menu__nav-item:hover {
  color: var(--greenColor);
}


.header {
  width: 100%;
  height: var(--headerHeight);
  background-color: var(--greenColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  margin-bottom: 50px;
  font-size: 1.5vw;
}

a {
  color: var(--textColorWhite);
  text-decoration: none;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list__item {
  list-style: none;
  margin: 10px;
}

.register {
  border: 5px solid var(--textColorWhite);
  padding: 10px;
  border-radius: 10px;
}

.section {
  width: 90%;
  margin: 0 auto 0;
}

.home-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-title {
  font-size: 3.2vw;
  margin-bottom: 20px;
}

.spec-list {
  font-size: 1.5vw;
  list-style: none;
}

.spec-list__item {
  margin: 5px 0;
}

.home-img {
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 50px;
}

.buy-container {
  display: flex;
  justify-content: space-between;
}

.btn-conatiner {
  width: 100%;
  height: auto;
}

.chat-btn {
  width: 300px;
  background-color: var(--blueColor);
  padding: 15px;
  border-radius: 10px;
  font-size: 1.5vw;
  border: none;
  margin-right: 50px;
}

.buy-btn {
  width: 300px;
  border: 3px solid var(--blueColor);
  padding: 15px;
  border-radius: 10px;
  font-size: 1.5vw;
  background-color: transparent;
}

.buy-link {
  color: var(--textColorBlack);
}

.action-title {
  text-align: center;
}

.countdown-wrapper {
	z-index: 1;
	position: relative;
	display: flex;
	flex-direction: column;
}

.title {
	font-size: 60px;
	margin: 0 0 20px;
}

.countdown {
	display: flex;
	align-items: center;
	justify-content: center;
}

.time {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.time h2 {
	margin: 0 0 10px;
	font-size: 48px;
}

.time small {
	font-size: 26px;
}

.time-action {
  border-radius: 10px !important;
  margin: 10px;
}

.section-title {
  font-size: 3vw;
  text-align: center;
  margin: 50px 0;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 500px;
  height: 700px;
  margin: 10px 5px;
  background-color: var(--blueColor);
  border-radius: 50px;
  font-size: 2vw;
  color: var(--textColorWhite);
}

.card1 {
  background-image: url(../img/3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.card2 {
  background-image: url(../img/4.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.card3 {
  background-image: url(../img/1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 25px 80px 25px ;
  background-color: var(--blueColor);
  opacity: 0.7;
  border-radius: 50px;
}

.sub-text {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: 5px solid var(--textColorWhite);
}

.dop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dop-info {
  width: auto;
  display: block;
  font-size: 2vw;
  padding: 10px;
  margin: 20px 0;
  border-right: 5px solid var(--peopleColor);
}

.dop-info1 {
  margin-right: 10vw;
}

.dop-info2 {
  margin-right: 45vw;
}

.dop-info3 {
  margin-left: 35vw;
}

.date {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  font-size: 2.5vw;
  background-color: var(--greenColor);
  border-radius: 30px;
  padding: 20px;
  color: var(--textColorWhite);
}

.time {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  background-color: var(--blueColor);
  border-radius: 30px;
  padding: 20px;
  color: var(--textColorBlack);
  margin-top: 50px;
}

.time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.time-block {
  width: 45%;
  margin: 50px 25px;
}

.time-title {
  font-size: 2.5rem;
  margin-bottom: 25px;
}

.circle-container {
  display: flex;
  align-items: center;
}

.time-block__circle {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  color: var(--textColorWhite);
  background: rgb(48,146,1);
  background: -moz-linear-gradient(180deg, rgba(48,146,1,1) 0%, rgba(84,194,155,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(48,146,1,1) 0%, rgba(84,194,155,1) 100%);
  background: linear-gradient(180deg, rgba(48,146,1,1) 0%, rgba(84,194,155,1) 100%);
  border-radius: 50%;
}

.circle-title {
  margin: 0 0 0 25px;
  font-size: 1.2rem;
}

.info-text {
  font-size: 1.2vw;
  margin-top: 25px;
}

.sub-title {
  text-align: center;
  font-size: 1.7vw;
  font-weight: 100;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 15px;
  margin-top: 50px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.gallery-item1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}
 
.gallery-item2 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}
 
.gallery-item3 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3
}
 
.gallery-item4 {
  grid-column-start: 9;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 4;
}
 
.gallery-item5 {
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 7;
}

.gallery-item6 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 7;
}

.gallery-item7 {
  grid-column-start: 9;
  grid-column-end: 11;
  grid-row-start: 4;
  grid-row-end: 7;
}

.accordion {
  width: 100%;
}

.details {
  position: relative;
  display: block;
  margin: 0 auto 10px;
  color: var(--textColorBlack);
  transition: 0.3s;
  border: 3px solid var(--footerColor);
  overflow: hidden;
}

.details::after {
  position: absolute;
  right: 25px;
  top: 40px;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-right: 3px solid var(--textColorBlack);
  border-bottom: 3px solid var(--textColorBlack);
  transform: rotate(-45deg);
  transform-origin: center;
  transition: .3s;
}

.details[open]::after {
  transform: rotate(45deg);
}

.details[open] {
  padding-bottom: 100px;
}

.details[open] .details__title {
  margin-bottom: 32px;
}

.details__title {
  min-height: 100px;
  display: flex;
  align-items: center;
  background: var(--colorTwo);
  border-radius: 5px;
  padding: 12px 65px 12px 24px;
  font-size: 30px;
  cursor: pointer;
  list-style: none;
  transition: .3s;
}

.details__title::-webkit-details-marker {
  display: none;
}

.details__content {
  padding: 0 32px;
  font-size: 30px;
  margin-bottom: -60px;
  font-weight: 200;
}

.details__content p:last-child {
  margin-bottom: 0;
}
.details__content p:first-child {
  margin-top: 0;
}

.map-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.map {
  border: 5px solid var(--greenColor);
  border-radius: 10px;
  margin-bottom: 50px;
}

.footer {
  width: 100%;
  padding: 25px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--footerColor);
}

.policy {
  color: var(--textColorBlack);
  margin: 0 10px;
}

.footer-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

/* animation */

@keyframes openBurgerMenu {
  from {
    margin-right: -100%;
  }
  to {
    margin-right: 0%;
  }
}